@using Microsoft.AspNetCore.Identity
@using Web_NetCore.Models

@*@if (SignInManager.IsSignedIn(User))
{*@
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <span class="m-r-sm text-muted welcome-message">Welcome to TANITA TRACKER.</span>
        </li>
        @Html.Partial("_NotificationPartial")
        <li>
            <a href="#"><i class="fa fa-sign-out"></i> Log out</a>
        </li>
    </ul>
@*}
else
{
    <ul class="nav navbar-top-links navbar-right">
        @Html.Partial("_NotificationPartial")
        <li><a asp-controller="Home" asp-action="Index">Register</a></li>
        <li><a asp-controller="Home" asp-action="Index">Log in</a></li>
    </ul>
}*@